.filterContainer {
  /*  height: 360px;*/
  width: 315px;
  border-radius: 12px;
  padding: 20px;
  /*  box-sizing: border-box;*/
  background: #FFFFFF;
  border: 1px solid #EAEBED;

  .filterTop {

    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .title {
      color: #232134;
      font-weight: 700;
      font-size: 20px;
    }

    .reset {
      color: #ACADB9;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      background: none;
      border: none;
    }
  }

  .filterSettings {
    margin-bottom: 20px;

    .title {
      line-height: 19px;
      margin-bottom: 8px;
    }
  }
}