.wrapper {
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  padding: 20px;
  margin: 16px 0;
  width: 773px;
}

.pagination {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  .pageClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    padding: 0 5px;
  }

  .activeClassName {
    background: #5E96FC;
    border: 1px solid #5E96FC;
    color: white;
  }

  .previousClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    stroke: #7B7C88;
    fill: #7B7C88;
  }

  .nextClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    stroke: #7B7C88;
    fill: #7B7C88;
  }

  .disabledClassName {
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    color: #EAEBED;
    stroke: #EAEBED;
    fill: #EAEBED;
  }

  .breakClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #F5F5F5;
    margin: 8px;
    font-weight: bold;
  }
}