.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 84px;
  background: #FFFFFF;
  margin-bottom: 40px;

  .icon {

  }

  .navigation {
    display: flex;

    .navigationItem + .navigationItem {
      margin-left: 60px;

    }
  }
}