.pagination {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  .pageClassName {
    min-width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    padding: 0 5px;
    color: #232134;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    @media (max-width: 400px) {
      margin: 3px;
    };
  }

  .activeClassName {
    min-width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 8px;
    padding: 0 5px;
    background: #5E96FC;
    border: 1px solid #5E96FC;
    color: white;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    @media (max-width: 400px) {
      margin: 3px;
    };
  }

  .previousClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    stroke: #7B7C88;
    fill: #7B7C88;
    @media (max-width: 400px) {
      margin: 3px;
    };
  }

  .nextClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 4px;
    margin: 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    stroke: #7B7C88;
    fill: #7B7C88;
    @media (max-width: 400px) {
      margin: 3px;
    };
  }

  :disabled {
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    color: #EAEBED;
    stroke: #EAEBED;
    fill: #EAEBED;
  }
}