.container {
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  margin: 16px 0;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #5E96FC;
    }
  }


  .terms {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 13px 0;

    .salary {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #232134;
    }

    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #7B7C88;
      margin: 0 12px;
    }

    .schedule {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #232134;
    }
  }

  .location {

    display: flex;
    justify-content: start;
    align-items: center;

    .locationText {
      margin-left: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #232134;
    }
  }


}